*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  // This defines what 1rem is, any thats why it's staying in base instead of going to typography.
  // Because our rem is defined by our font size, when we increase/decrease our font size using media queries all of our rems will get bigger/smaller.
  font-size: 62.5%; // 1rem = 10px. 10px/16px = 62.5%

  // tab-land goes first because when the screen is below 1200px we want tab-land to apply not tab-port and tab-land causing a conflict. The larger ones should always go first. When doing max-width.

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; // 1rem = 8px, 8/16 = 50% (For example now 40px will be 32px)
  }

  // If the screen was 700px both of the above media queries will apply, as I wrote in my notes in media queries the last media query is what will apply, hence the order above.

  // @include respond(phone) {
  //   font-size: 30%; // 1rem = 4.8px, 8/16 = 30% (For example now 40px will be 32px)
  // }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
